form#ggPaymentForm {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.donation-content .image-banner {
  background-image: url('../../assets/banner2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.form-title {
  width: 100%;
  height: 72px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.form-title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #151f2f;
  margin-left: 40px;
}

.input-wrapper:nth-child(2) {
  margin-left: 50px;
}

#ggPaymentForm button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  max-width: none;
}

.form-row {
  display: flex;
  margin-bottom: 40px;
}

.hosted-field {
  max-height: 50px !important;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .input-wrapper:nth-child(2) {
    margin-left: 0;
  }

  .input-wrapper {
    margin-bottom: 50px;
  }

  #ggPaymentForm button {
    margin-left: 0px;
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .form-title {
    justify-content: center;
  }

  .form-title h1 {
    margin-left: 0px;
  }
}
