.button-link {
  background: linear-gradient(270deg, #01c089 0%, #00a958 100%);
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

.button-link span {
  color: #ffff;
  font-size: 14px;
}
