.button {
  background: linear-gradient(90deg, #f86b6a 0%, #fd954e 100%);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  color: white;
  border: 0;
  font-size: 14px;
}
