header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  align-items: center;
  height: 60px;
  max-width: 1300px;
  width: 100%;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  padding: 0 20px;
}

.header h1 {
  font-family: 'Courgette', cursive;
  font-weight: normal;
  color: #004c00;
  font-size: 30px;
}

.header ul li a {
  text-decoration: none;
  color: black;
}

.menu-icon {
  display: none;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

input[type='checkbox'] {
  display: none;
}

.logo {
  width: 300px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .header ul {
    position: absolute;
    height: 100vh;
    top: 60px;
    background: #f7f7f7;
    left: 0;
    width: 250px;
    flex-direction: column;
    padding-inline-start: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  }

  .header ul li {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
  }

  input[type='checkbox']:checked ~ ul {
    transform: translateX(0%);
  }
}

@media (max-width: 375px) {
  .header h1 {
    font-size: 25px;
  }

  .logo {
    width: 200px;
  }
}
