.home-card {
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  width: 270px;
  border-radius: 5px;
  margin: 15px 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 14px 18px;
}

.home-card-image {
  width: 242px;
  height: 127px;
  background-image: url(https://www.globalgiving.org/pfil/organ/11/orglogo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  margin: 0 auto;
  border-radius: 5px;
}

.home-card h3 {
  font-size: 18px;
  font-weight: 400;
  color: #151f2f;
  margin-bottom: 6px;
  margin-top: 20px;
}

.home-card h4 {
  font-size: 12px;
  font-weight: 400;
  color: #5c5f64;
  line-height: 20px;
}

.home-card-details {
  display: flex;
  flex-direction: column;
}

.mission {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.home-card-details .link {
  align-self: flex-end;
  text-decoration: none;
  color: rgb(132 165 89);
  margin-top: 10px;
}

.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.home-card a {
  margin-top: 20px;
}
