.register-form input {
  width: 350px;
}

.register-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.register-content {
  height: 90vh;
  margin: 30px 0;
}

.register-content .button {
  max-width: none;
  width: 100%;
  padding: 15px;
}

.register-form-wrapper {
  display: flex;
  flex-direction: column;
}

.register-form-wrapper img {
  align-self: center;
  width: 350px;
  margin-bottom: 20px;
}

.register-form-wrapper h4 {
  text-align: center;
  font-weight: normal;
}

.register-form-wrapper form {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .register-content {
    padding: 50px 0;
  }
}
